@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer base {
  * {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
  }
}

html, body {
  @apply antialiased scroll-smooth bg-gray-50 dark:bg-neutral-900 text-neutral-800 dark:text-neutral-100 transition-colors duration-300;
}

/* Custom styles for premium elements */
.animate-spin-slow {
  animation: spin 8s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
